# Test out the jupyter notebook environment

### execute at least 3 python cells:

In [1]:
price_per_day = 3.00
days_rented_TheLittleMermaid = 3
days_rented_BrotherBear = 5
days_rented_Hercules = 1

total_price = (price_per_day 
              * days_rented_TheLittleMermaid 
              * days_rented_BrotherBear 
              * days_rented_Hercules)

print()
print('The total movie rental price is $', total_price)

The total movie rental price is $ 45.0

In [2]:
hourly_rate_Google = 400.0
hourly_rate_Amazon = 380.0
hourly_rate_Facebook = 350.0

hours_worked_Google  = 6
hours_worked_Amazon = 4
hours_worked_Facebook = 10

total_pay = (hourly_rate_Google * hours_worked_Google
            + hourly_rate_Amazon * hours_worked_Amazon
            + hourly_rate_Facebook * hours_worked_Facebook)

print()
print('The total weekly pay is $', total_pay, '.')

The total weekly pay is $ 7420.0 .

In [3]:
def enroll():
    pass

class_is_full = False
class_schedule_conflict = False

if class_is_full == False and class_schedule_conflict == False:
    enroll()
    print()
    print('Enrollment successful.')
else:
    print()
    print('Student may not enroll in this class.')

Enrollment successful.

### make some notes that describe 3 keyboard shortcuts for jupyter notebooks:

`ctrl` + `enter` runs the selected cell

`cmd` + `shift` + `p` shows the command palette

`h` shows a pop-up window listing out all keyboard shortcuts